body { background: #953780; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 16px; display: flex; }
.block-token-0 { color: #59adf0; font-size: 14px; margin-bottom: 5px; }
.block-cart-1 { color: #b4ac0; font-size: 14px; margin-bottom: 5px; }
.block-cluster-2 { color: #1d2803; font-size: 21px; margin-bottom: 5px; }
.block-cart-3 { color: #9fdaf7; font-size: 19px; margin-bottom: 5px; }
.block-metrics-4 { color: #150464; font-size: 16px; margin-bottom: 5px; }
.block-helper-5 { color: #6ed7d4; font-size: 20px; margin-bottom: 5px; }
.block-cart-6 { color: #35abe5; font-size: 19px; margin-bottom: 5px; }
.block-search-7 { color: #737dab; font-size: 13px; margin-bottom: 5px; }
.block-database-8 { color: #4bc3c7; font-size: 13px; margin-bottom: 5px; }